.Consultant/workflows/03-test-workflow-creator.json
{
  "name": "🧪 AI Doctor - Test Workflow Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "notes": "Reçoit l'analyse IA avec les corrections proposées depuis AI Analyzer."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Préparation du clone du workflow\nconst data = $input.item.json;\nconst originalWorkflow = data.workflow;\nconst fix = data.fix;\nconst retryCount = data.originalError?.aiDoctor?.retryCount || 0;\n\n// Nouveau nom avec suffix test et version\nconst testWorkflowName = `${originalWorkflow.name} [AI-FIX-TEST-v${retryCount + 1}]`;\n\n// Clone du workflow avec nouveau nom\nconst cloneData = {\n  name: testWorkflowName,\n  nodes: originalWorkflow.nodes,\n  connections: originalWorkflow.connections,\n  settings: originalWorkflow.settings || {},\n  staticData: null,\n  tags: [...(originalWorkflow.tags || [])],\n  active: false\n};\n\nreturn {\n  json: {\n    cloneData: cloneData,\n    fix: fix,\n    analysis: data.analysis,\n    originalWorkflowId: originalWorkflow.id,\n    originalError: data.originalError,\n    retryCount: retryCount + 1\n  }\n};"
      },
      "id": "prepare-clone",
      "name": "Prepare Workflow Clone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "notes": "Prépare le clone du workflow avec suffix [AI-FIX-TEST-vX]. Workflow désactivé par défaut pour sécurité."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.cloneData) }}",
        "options": {}
      },
      "id": "create-clone",
      "name": "Create Workflow Clone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "⚠️ CREDENTIAL REQUISE: httpHeaderAuth nommée 'n8n API Key'\nCrée le clone du workflow via API n8n."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Application de la correction IA\nconst clonedWorkflow = $input.item.json;\nconst previousData = $('Prepare Workflow Clone').item.json;\nconst fix = previousData.fix;\n\n// Trouver le node à modifier\nconst nodeToModifyName = fix.nodeToModify;\nconst nodes = clonedWorkflow.nodes;\n\nlet nodeModified = false;\nconst updatedNodes = nodes.map(node => {\n  if (node.name === nodeToModifyName) {\n    nodeModified = true;\n    \n    switch (fix.modificationType) {\n      case 'update':\n        return {\n          ...node,\n          parameters: {\n            ...node.parameters,\n            ...fix.newParameters\n          },\n          notes: (node.notes || '') + '\\n\\n🤖 AI Fix Applied: ' + fix.explanation\n        };\n      \n      case 'replace':\n        return {\n          ...node,\n          parameters: fix.newParameters,\n          notes: (node.notes || '') + '\\n\\n🤖 AI Fix Applied: ' + fix.explanation\n        };\n      \n      default:\n        return node;\n    }\n  }\n  return node;\n});\n\nif (!nodeModified) {\n  throw new Error(`Node \"${nodeToModifyName}\" not found`);\n}\n\nconst updatePayload = {\n  nodes: updatedNodes,\n  connections: clonedWorkflow.connections,\n  settings: clonedWorkflow.settings\n};\n\nreturn {\n  json: {\n    clonedWorkflowId: clonedWorkflow.id,\n    updatePayload: updatePayload,\n    fix: fix,\n    analysis: previousData.analysis,\n    originalWorkflowId: previousData.originalWorkflowId,\n    originalError: previousData.originalError,\n    retryCount: previousData.retryCount\n  }\n};"
      },
      "id": "apply-fix",
      "name": "Apply AI Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "notes": "Applique la correction IA sur le node identifié. Ajoute une note de traçabilité."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.clonedWorkflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updatePayload) }}",
        "options": {}
      },
      "id": "update-clone",
      "name": "Update Cloned Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "Met à jour le workflow cloné avec les corrections."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode":"// Préparation notification Slack\nconst data = $input.item.json;\nconst previousData = $('Apply AI Fix').item.json;\n\nconst originalWorkflow = previousData.originalError.workflowName;\nconst errorMessage = previousData.originalError.error.message;\nconst errorNode = previousData.originalError.errorNode.name;\nconst fix = previousData.fix;\nconst analysis = previousData.analysis;\nconst clonedWorkflowId = previousData.clonedWorkflowId;\nconst retryCount = previousData.retryCount;\n\nconst slackMessage = {\n  text: `🤖 AI Workflow Doctor - Correction Proposée`,\n  blocks: [\n    {\n      type: \"header\",\n      text: {\n        type: \"plain_text\",\n        text: \"🤖 AI Workflow Doctor\"\n      }\n    },\n    {\n      type: \"section\",\n      fields: [\n        {type: \"mrkdwn\", text: `*Workflow:*\\n${originalWorkflow}`},\n        {type: \"mrkdwn\", text: `*Node:*\\n${errorNode}`},\n        {type: \"mrkdwn\", text: `*Type:*\\n${analysis.errorType}`},\n        {type: \"mrkdwn\", text: `*Confiance:*\\n${analysis.confidence}`}\n      ]\n    },\n    {\n      type: \"section\",\n      text: {type: \"mrkdwn\", text: `*Erreur:*\\n\\`${errorMessage}\\``}\n    },\n    {\n      type: \"section\",\n      text: {type: \"mrkdwn\", text: `*Cause:*\\n${analysis.rootCause}`}\n    },\n    {\n      type: \"section\",\n      text: {type: \"mrkdwn\", text: `*Fix:*\\n${fix.explanation}`}\n    },\n    {\n      type: \"section\",\n      text: {type: \"mrkdwn\", text: `*Test créé:*\\nID: ${clonedWorkflowId}`}\n    },\n    {\n      type: \"divider\"\n    },\n    {\n      type: \"actions\",\n      elements: [\n        {\n          type: \"button\",\n          text: {type: \"plain_text\", text: \"✅ Tester\"},\n          style: \"primary\",\n          value: `test_${clonedWorkflowId}`,\n          action_id: \"test_fix\"\n        },\n        {\n          type: \"button\",\n          text: {type: \"plain_text\", text: \"❌ Rejeter\"},\n          style: \"danger\",\n          value: `reject_${clonedWorkflowId}`,\n          action_id: \"reject_fix\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    slackMessage: slackMessage,\n    clonedWorkflowId: clonedWorkflowId,\n    originalWorkflowId: previousData.originalWorkflowId,\n    originalError: previousData.originalError,\n    fix: fix,\n    analysis: analysis,\n    retryCount: retryCount\n  }\n};"
      },
      "id": "prepare-notification",
      "name": "Prepare Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "notes": "Construit le message Slack avec boutons d'action."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-validator-id",
              "name": "slackValidatorWorkflowId",
              "type": "string",
              "value": "PLACEHOLDER_SLACK_VALIDATOR_ID"
            }
          ]
        }
      },
      "id": "set-slack-validator-id",
      "name": "Set Slack Validator ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 260],
      "notes": "⚠️ REMPLACER 'PLACEHOLDER_SLACK_VALIDATOR_ID' par l'ID du workflow Slack Validator"
    },
    {
      "parameters": {
        "workflowId": "={{ $('Set Slack Validator ID').item.json.slackValidatorWorkflowId }}",
        "waitForCompletion": false
      },
      "id": "execute-slack-validator",
      "name": "Execute Slack Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1560, 400],
      "notes": "Lance le Slack Validator en mode asynchrone."
    }
  ],
  "connections": {
    "When Called": {
      "main": [[{"node": "Prepare Workflow Clone", "type": "main", "index": 0}]]
    },
    "Prepare Workflow Clone": {
      "main": [[{"node": "Create Workflow Clone", "type": "main", "index": 0}]]
    },
    "Create Workflow Clone": {
      "main": [[{"node": "Apply AI Fix", "type": "main", "index": 0}]]
    },
    "Apply AI Fix": {
      "main": [[{"node": "Update Cloned Workflow", "type": "main", "index": 0}]]
    },
    "Update Cloned Workflow": {
      "main": [[{"node": "Prepare Slack Message", "type": "main", "index": 0}]]
    },
    "Prepare Slack Message": {
      "main": [[{"node": "Set Slack Validator ID", "type": "main", "index": 0}]]
    },
    "Set Slack Validator ID": {
      "main": [[{"node": "Execute Slack Validator", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-04T00:00:00.000Z",
  "versionId": ""
}
