.Consultant/workflows/04-slack-validator.json
{
  "name": "📨 AI Doctor - Slack Validator",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "notes": "Reçoit les données de notification depuis Test Workflow Creator."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl || 'PLACEHOLDER_SLACK_WEBHOOK_URL' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackMessage) }}",
        "options": {}
      },
      "id": "send-slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "notes": "⚠️ CONFIGURATION: Remplacer 'PLACEHOLDER_SLACK_WEBHOOK_URL' par votre Slack Webhook URL\nOU passer slackWebhookUrl dans les données d'entrée.\n\nExemple: https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXX"
    },
    {
      "parameters": {},
      "id": "webhook-listener",
      "name": "Webhook - Button Click",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "ai-doctor-slack-action",
      "notes": "Webhook qui reçoit les réponses des boutons Slack.\n\n⚠️ CONFIGURATION SLACK:\n1. Créer Slack App sur api.slack.com\n2. Activer Interactivity\n3. Request URL: [URL de ce webhook]\n4. Sauvegarder\n\nL'URL du webhook est affichée quand vous activez ce workflow."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse Slack payload\nconst body = $input.item.json.body;\n\n// Slack envoie les données en form-encoded avec 'payload' comme clé\nlet payload;\nif (typeof body === 'string') {\n  const params = new URLSearchParams(body);\n  payload = JSON.parse(params.get('payload') || '{}');\n} else if (body.payload) {\n  payload = typeof body.payload === 'string' ? JSON.parse(body.payload) : body.payload;\n} else {\n  payload = body;\n}\n\nconst action = payload.actions?.[0];\nconst actionId = action?.action_id;\nconst value = action?.value;\nconst user = payload.user?.name || 'Unknown';\n\n// Extraction de l'ID du workflow depuis la value (format: test_XXXXX ou reject_XXXXX)\nconst [actionType, workflowId] = value.split('_');\n\nreturn {\n  json: {\n    actionId: actionId,\n    actionType: actionType,\n    workflowId: workflowId,\n    user: user,\n    responseUrl: payload.response_url,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-slack-action",
      "name": "Parse Slack Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600],
      "notes": "Parse l'action Slack (test ou reject) et extrait l'ID du workflow."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "test-action",
              "leftValue": "={{ $json.actionId }}",
              "rightValue": "test_fix",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600],
      "notes": "Route vers Test ou Reject selon l'action cliquée."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/activate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "activate-test-workflow",
      "name": "Activate Test Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "Active temporairement le workflow de test pour l'exécuter."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "execute-test-workflow",
      "name": "Execute Test Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "Exécute le workflow de test."
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 5
      },
      "id": "wait-execution",
      "name": "Wait for Execution",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 500],
      "notes": "Attend 5 secondes pour que l'exécution se termine."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5678/api/v1/executions?workflowId={{ $('Parse Slack Action').item.json.workflowId }}&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-execution-result",
      "name": "Check Execution Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "Vérifie le résultat de la dernière exécution."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "execution-success",
              "leftValue": "={{ $json.data?.[0]?.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Execution Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 500],
      "notes": "Vérifie si l'exécution a réussi ou échoué."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "iterative-retry-id",
              "name": "iterativeRetryWorkflowId",
              "type": "string",
              "value": "PLACEHOLDER_ITERATIVE_RETRY_ID"
            }
          ]
        }
      },
      "id": "set-retry-workflow-id",
      "name": "Set Retry Workflow ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2000, 640],
      "notes": "⚠️ REMPLACER par l'ID du workflow Iterative Retry"
    },
    {
      "parameters": {
        "workflowId": "={{ $('Set Retry Workflow ID').item.json.iterativeRetryWorkflowId }}",
        "waitForCompletion": false
      },
      "id": "trigger-retry",
      "name": "Trigger Iterative Retry",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2220, 640],
      "notes": "Lance une nouvelle tentative de correction si le test a échoué."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Action').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: '✅ Test réussi! Voulez-vous appliquer à la production?',\n  replace_original: false,\n  blocks: [\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '✅ *Le test a réussi!* Le workflow corrigé fonctionne correctement.'\n      }\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: {type: 'plain_text', text: '🚀 Appliquer en prod'},\n          style: 'primary',\n          value: 'apply_' + $('Parse Slack Action').item.json.workflowId,\n          action_id: 'apply_to_prod'\n        },\n        {\n          type: 'button',\n          text: {type: 'plain_text', text: '⏸️ Garder en test'},\n          value: 'keep_test',\n          action_id: 'keep_test'\n        }\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "notes": "Notifie l'utilisateur que le test a réussi et demande s'il veut appliquer en prod."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Action').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: '❌ Test échoué. Nouvelle tentative en cours...',\n  replace_original: false\n}) }}",
        "options": {}
      },
      "id": "notify-failure",
      "name": "Notify Test Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 640],
      "notes": "Notifie que le test a échoué et qu'une nouvelle tentative est lancée."
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "delete-test-workflow",
      "name": "Delete Test Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8nApiKey",
          "name": "n8n API Key"
        }
      },
      "notes": "Supprime le workflow de test si l'utilisateur rejette la correction."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: '❌ Correction rejetée. Workflow de test supprimé.',\n  replace_original: false\n}) }}",
        "options": {}
      },
      "id": "notify-rejection",
      "name": "Notify Rejection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 700],
      "notes": "Notifie que la correction a été rejetée."
    }
  ],
  "connections": {
    "When Called": {
      "main": [[{"node": "Send Slack Notification", "type": "main", "index": 0}]]
    },
    "Webhook - Button Click": {
      "main": [[{"node": "Parse Slack Action", "type": "main", "index": 0}]]
    },
    "Parse Slack Action": {
      "main": [[{"node": "Route Action", "type": "main", "index": 0}]]
    },
    "Route Action": {
      "main": [
        [{"node": "Activate Test Workflow", "type": "main", "index": 0}],
        [{"node": "Delete Test Workflow", "type": "main", "index": 0}]
      ]
    },
    "Activate Test Workflow": {
      "main": [[{"node": "Execute Test Workflow", "type": "main", "index": 0}]]
    },
    "Execute Test Workflow": {
      "main": [[{"node": "Wait for Execution", "type": "main", "index": 0}]]
    },
    "Wait for Execution": {
      "main": [[{"node": "Check Execution Result", "type": "main", "index": 0}]]
    },
    "Check Execution Result": {
      "main": [[{"node": "Execution Successful?", "type": "main", "index": 0}]]
    },
    "Execution Successful?": {
      "main": [
        [{"node": "Notify Success", "type": "main", "index": 0}],
        [{"node": "Set Retry Workflow ID", "type": "main", "index": 0}]
      ]
    },
    "Set Retry Workflow ID": {
      "main": [[{"node": "Notify Test Failure", "type": "main", "index": 0}, {"node": "Trigger Iterative Retry", "type": "main", "index": 0}]]
    },
    "Delete Test Workflow": {
      "main": [[{"node": "Notify Rejection", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-04T00:00:00.000Z",
  "versionId": ""
}
