.Consultant/workflows/Analyse-cv-pdf (1).json
{
  "name": "Analyse-cv-pdf",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyse-cv-pdf",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f73bb097-ab87-4fd6-a414-08efa885087f",
      "name": "Webhook",
      "webhookId": "bb43a068-69bf-49dc-96a5-1f501d1afab9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04e82c79-cbe9-48bc-82cc-f668fdccf123",
              "name": "text",
              "value": "==== PROFIL CANDIDAT (CV PDF) ===\n\nTexte extrait du CV :\n{{ $json.body.cv_texte_complet }}\n\nNombre de pages : {{ $json.body.nombre_pages }}",
              "type": "string"
            },
            {
              "id": "c2896330-20e2-44eb-b561-7cdd8c32fbea",
              "name": "created_at",
              "value": "=={{ $now }}",
              "type": "string"
            },
            {
              "id": "db617389-298c-4512-8f6c-45270a6ba50e",
              "name": "profile_version",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9b0fa180-292b-4423-9643-4ba5054b3c03",
      "name": "édit profil pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53a8df89-fb2a-4801-8e23-e47ffbc21dfa",
              "name": "analysis_input",
              "value": "=Tu es un expert en recrutement et analyse de profils professionnels.\n\nVoici le profil d'un candidat extrait de son CV :\n\n{{ $json.text }}\n\nTa mission :\n1. Analyse ce profil en profondeur\n2. Identifie les métiers qui correspondent le mieux\n3. Classe ces métiers en 3 catégories :\n   - \"Ce que je veux\" : Métiers qui semblent être l'objectif du candidat\n   - \"Correspond à mes compétences\" : Métiers qui matchent parfaitement avec les compétences actuelles\n   - \"Je pourrais tenter\" : Métiers accessibles avec peu d'effort supplémentaire\n\n4. Pour chaque métier identifié :\n   - Donne une note marché entre 0 et 100 (basée sur l'offre/demande actuelle)\n   - Justifie cette note en 1-2 phrases\n   - Liste les mots-clés pertinents\n\n5. Extrais également :\n   - Les compétences clés du candidat\n   - Les mots-clés de recherche d'emploi recommandés\n\nSois précis, factuel et orienté résultats concrets.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "f157a666-20bf-44b7-b878-57ab51d1d5f7",
      "name": "analysis_input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=={{ $json.analysis_input }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        656,
        0
      ],
      "id": "2a93e639-dfcc-453e-b41b-466b02cd8b96",
      "name": "expert recrutement ia",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "==Tu vas recevoir une analyse détaillée de profil professionnel incluant :\n- des métiers proposés\n- une classification des postes\n- des compétences\n- des mots-clés\n- une évaluation marché avec une note sur 100 par métier\n\nTa mission est de transformer ce contenu en **JSON STRICT**, exploitable par un workflow automatisé.\n\nRègles obligatoires (à respecter strictement) :\n- Réponds UNIQUEMENT avec du JSON valide\n- Aucun texte explicatif\n- Aucun Markdown\n- Aucun commentaire\n- Toutes les clés doivent être présentes même si certaines valeurs sont vides\n- Les notes doivent être des nombres entre 0 et 100\n\nStructure JSON attendue :\n\n{\n  \"metiers\": [\n    {\n      \"intitule\": \"\",\n      \"categorie\": \"Ce que je veux | Correspond à mes compétences | Je pourrais tenter\",\n      \"priorite\": 1,\n      \"note_marche\": 0,\n      \"justification_note\": \"\",\n      \"mots_cles\": []\n    }\n  ],\n  \"competences_cles\": [],\n  \"mots_cles_recherche\": []\n}\n\nConsignes spécifiques :\n- Chaque métier identifié dans l'analyse doit apparaître dans le tableau \"metiers\"\n- \"priorite\" doit être un entier (1 = priorité la plus élevée)\n- \"note_marche\" doit refléter principalement l'équilibre offre / demande du marché\n- \"justification_note\" doit être une phrase courte expliquant la note\n- Les mots-clés doivent être normalisés (minuscules, sans phrases)\n- Ne jamais inventer de catégories hors de celles définies\n\nVoici le contenu à transformer :\n\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1008,
        0
      ],
      "id": "1c0c5882-9201-461e-9f27-824a98fd2063",
      "name": "réponse JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "030cb886-9a8c-4937-8435-ee5838907791",
              "name": "parsed",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        304
      ],
      "id": "019bf965-903a-4ba1-87a8-03373b5a0827",
      "name": "JSON Parse"
    },
    {
      "parameters": {
        "fieldToSplitOut": "parsed.metiers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        992,
        304
      ],
      "id": "b62b0ccd-efae-4feb-831c-a508d0f5a15a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Récupère tous les métiers\nconst metiers = items.map(item => item.json);\n\n// Récupère les infos du CV depuis le webhook\nconst webhookData = $('Webhook').first().json.body;\n\n// Structure la réponse finale\nreturn [{\n  json: {\n    success: true,\n    profil: {\n      prenom: \"Extrait du CV\",\n      nom: \"PDF\",\n      niveau_experience: \"Analysé automatiquement\",\n      type_poste: \"Identifié par l'IA\"\n    },\n    metiers_proposes: metiers,\n    message: \"Analyse terminée avec succès\",\n    nombre_pages: webhookData.nombre_pages || \"Non spécifié\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        0
      ],
      "id": "497034c0-5b93-4a7b-8c52-1c05ab3d41dc",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "édit profil pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "édit profil pdf": {
      "main": [
        [
          {
            "node": "analysis_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analysis_input": {
      "main": [
        [
          {
            "node": "expert recrutement ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert recrutement ia": {
      "main": [
        [
          {
            "node": "réponse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "réponse JSON": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "60bb452b-c303-47ca-b9ad-c79068ee585c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7794a76bcadfa6f11a81492e0a47661ae47dfbbac1b071f082948258ee8e9f6c"
  },
  "id": "1XTFCSucQ2Pn6wnO",
  "tags": []
}