.Consultant/workflows/Analyseur CV Test (1).json
{
  "name": "Analyseur CV Test",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "parsed.metiers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        240
      ],
      "id": "c8eec086-3b06-4556-9413-f6f9b9da6db2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e378f26-f848-41ab-a548-d24470ba913a",
              "name": "text",
              "value": "==== PROFIL CANDIDAT ===\n\nIdentité\nPrénom : {{ $json.body.prenom }}\nNom : {{ $json.body.nom }}\n\nProfil professionnel\nNiveau d’expérience : {{ $json.body.niveau_experience }}\nAnnées d’expérience : {{ $json.body.annees_experience }}\nStatut : {{ $json.body.statut }}\n\nExpérience\n{{ $json.body.experience }}\n\nCompétences\nCompétences principales :\n{{ $json.body.competences_principales }}\n\nOutils :\n{{ $json.body.outils }}\n\nSoft skills :\n{{ $json.body.soft_skills }}\n\nPréférences\nSecteur préférentiel : {{ $json.body.secteur_preferentiel }}\nType de poste : {{ $json.body.type_poste }}\n\n",
              "type": "string"
            },
            {
              "id": "f757ca65-123e-4ff5-8f91-732647f73955",
              "name": "created_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "db25c7c1-8689-46ad-9805-4cba7ad1555e",
              "name": "profile_version",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -176
      ],
      "id": "bd15887e-761b-4147-b82b-22723746611c",
      "name": "édit profil"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e378f26-f848-41ab-a548-d24470ba913a",
              "name": "analysis_input",
              "value": "=Tu es un expert en recrutement, en analyse de profils professionnels et en analyse du marché de l’emploi.\n\nTu vas analyser le profil structuré d’un candidat, en tenant compte de ses compétences, de son expérience et de ses préférences professionnelles, mais aussi des réalités du marché de l’emploi.\n\nVoici le profil du candidat :\n\n{{ $json.text }}\n\nTa mission est de produire une analyse claire, structurée et exploitable en respectant les consignes suivantes :\n\n1. Analyse globale du profil  \n   - Résume le profil professionnel du candidat  \n   - Identifie son niveau de séniorité et son positionnement principal  \n\n2. Métiers et postes adaptés  \n   - Identifie les métiers les plus adaptés à son profil  \n   - Propose des intitulés de postes précis et réalistes  \n\n3. Compétences à valoriser  \n   - Liste les compétences techniques clés  \n   - Liste les soft skills importantes  \n   - Mets en avant les compétences différenciantes  \n\n4. Mots-clés pour la recherche d’emploi  \n   - Propose des mots-clés pertinents pour les offres d’emploi, LinkedIn et les ATS  \n\n5. Classification des opportunités professionnelles  \n   Classe les types de postes en trois catégories :\n   - **Ce que je veux**\n   - **Ce qui correspond le plus à mes compétences**\n   - **Ce que je pourrais tenter**\n\n6. Recommandations complémentaires  \n   - Axes d’amélioration du profil  \n   - Compétences à développer  \n   - Secteurs ou types d’entreprises à privilégier  \n\n7. Évaluation marché et notation des métiers (IMPORTANT)  \n   Pour chaque métier ou type de poste proposé, attribue une **note sur 100** basée sur les critères suivants :\n\n   - **Équilibre offre / demande sur le marché de l’emploi** (critère principal)  \n     - Beaucoup de candidats et peu d’offres → note très basse (proche de 0)  \n     - Peu de candidats et beaucoup d’offres → note très élevée (proche de 100)  \n\n   - **Tension du marché**  \n     - Métier en pénurie de profils → bonus  \n     - Métier saturé → malus  \n\n   - **Critères annexes (bonus possibles)**  \n     - Niveau de rémunération moyen  \n     - Conditions de travail (télétravail, flexibilité, équilibre vie pro/perso)  \n     - Perspectives d’évolution  \n     - Stabilité et croissance du secteur  \n\n   Explique brièvement la note attribuée à chaque métier (1 à 2 phrases maximum).\n\nRéponds de manière structurée, claire et synthétique, avec des titres et des listes lorsque c’est pertinent.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -176
      ],
      "id": "f7504b46-3c80-449a-b7be-7949bb52ba49",
      "name": "analysis_imput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.analysis_input }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        -112
      ],
      "id": "85930b1b-91a2-4cda-8036-cf1358ef1210",
      "name": "expert recrutement ia",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu vas recevoir une analyse détaillée de profil professionnel incluant :\n- des métiers proposés\n- une classification des postes\n- des compétences\n- des mots-clés\n- une évaluation marché avec une note sur 100 par métier\n\nTa mission est de transformer ce contenu en **JSON STRICT**, exploitable par un workflow automatisé.\n\nRègles obligatoires (à respecter strictement) :\n- Réponds UNIQUEMENT avec du JSON valide\n- Aucun texte explicatif\n- Aucun Markdown\n- Aucun commentaire\n- Toutes les clés doivent être présentes même si certaines valeurs sont vides\n- Les notes doivent être des nombres entre 0 et 100\n\nStructure JSON attendue :\n\n{\n  \"metiers\": [\n    {\n      \"intitule\": \"\",\n      \"categorie\": \"Ce que je veux | Correspond à mes compétences | Je pourrais tenter\",\n      \"priorite\": 1,\n      \"note_marche\": 0,\n      \"justification_note\": \"\",\n      \"mots_cles\": []\n    }\n  ],\n  \"competences_cles\": [],\n  \"mots_cles_recherche\": []\n}\n\nConsignes spécifiques :\n- Chaque métier identifié dans l’analyse doit apparaître dans le tableau \"metiers\"\n- \"priorite\" doit être un entier (1 = priorité la plus élevée)\n- \"note_marche\" doit refléter principalement l’équilibre offre / demande du marché\n- \"justification_note\" doit être une phrase courte expliquant la note\n- Les mots-clés doivent être normalisés (minuscules, sans phrases)\n- Ne jamais inventer de catégories hors de celles définies\n\nVoici le contenu à transformer :\n\n{{ $json.output[0].content[0].text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1072,
        -96
      ],
      "id": "39979faa-1243-40be-97bf-c622d42ea228",
      "name": "réponse JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f20e9e6-4a48-4e84-8bbb-a2c7458bfe19",
              "name": "parsed",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        128
      ],
      "id": "c5681589-7d2e-4f8a-8e5b-fd5c01649741",
      "name": "JSON Parse"
    },
    {
      "parameters": {
        "jsCode": "// Récupère tous les métiers depuis Split Out\nconst metiers = items.map(item => item.json);\n\n// Essaie de récupérer les données du profil depuis différents nœuds\nlet profilData = {};\n\ntry {\n  // Essaie depuis le webhook\n  const webhookData = $('Webhook').first().json.body;\n  if (webhookData) {\n    profilData = {\n      prenom: webhookData.prenom || \"Non spécifié\",\n      nom: webhookData.nom || \"Non spécifié\",\n      niveau_experience: webhookData.niveau_experience || \"Non spécifié\",\n      type_poste: webhookData.type_poste || \"Non spécifié\"\n    };\n  }\n} catch (error) {\n  // Si erreur, valeurs par défaut\n  profilData = {\n    prenom: \"Non spécifié\",\n    nom: \"Non spécifié\",\n    niveau_experience: \"Non spécifié\",\n    type_poste: \"Non spécifié\"\n  };\n}\n\n// Structure la réponse finale\nreturn [{\n  json: {\n    success: true,\n    profil: profilData,\n    metiers_proposes: metiers,\n    message: \"Analyse terminée avec succès\",\n    nombre_metiers: metiers.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        128
      ],
      "id": "a0345839-145e-4607-a5be-4a15ca43acc8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyse-cv",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -192
      ],
      "id": "2424c59d-0ad0-4990-a954-96c196d445d3",
      "name": "Webhook",
      "webhookId": "2384adcc-1d5b-4f05-b298-a42b55866f8f"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "édit profil": {
      "main": [
        [
          {
            "node": "analysis_imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analysis_imput": {
      "main": [
        [
          {
            "node": "expert recrutement ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert recrutement ia": {
      "main": [
        [
          {
            "node": "réponse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "réponse JSON": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "édit profil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "21f3ad7f-5e67-47d1-be89-f0d2033b1e4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7794a76bcadfa6f11a81492e0a47661ae47dfbbac1b071f082948258ee8e9f6c"
  },
  "id": "hOCohPjg9vZoT3IJ",
  "tags": []
}