.Consultant/workflows/matcher-cv-personnalise.json
{
  "name": "Matcher - CV Personnalisé",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matcher-cv-personnalise",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -100,
        300
      ],
      "id": "webhook-cv-personnalise",
      "name": "Webhook CV Personnalisé",
      "webhookId": "matcher-cv-personnalise-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "offer_text",
              "name": "offer_text",
              "value": "=**OFFRE D'EMPLOI**\n\nPoste : {{ $json.body.offer.title }}\nEntreprise : {{ $json.body.offer.company }}\nLocalisation : {{ $json.body.offer.location }}\nType de contrat : {{ $json.body.offer.contract_type }}\n{{ $json.body.offer.salary ? 'Salaire : ' + $json.body.offer.salary : '' }}\n\nDescription complète :\n{{ $json.body.offer.description }}",
              "type": "string"
            },
            {
              "id": "candidate_text",
              "name": "candidate_text",
              "value": "=**PROFIL CANDIDAT**\n\nIdentité :\nPrénom : {{ $json.body.candidate.prenom }}\nNom : {{ $json.body.candidate.nom }}\nTitre de poste : {{ $json.body.candidate.titre_poste }}\nEmail : {{ $json.body.candidate.email }}\nTéléphone : {{ $json.body.candidate.telephone }}\n{{ $json.body.candidate.adresse ? 'Adresse : ' + $json.body.candidate.adresse : '' }}\n{{ $json.body.candidate.linkedin ? 'LinkedIn : ' + $json.body.candidate.linkedin : '' }}\n\nExpériences professionnelles :\n{{ JSON.stringify($json.body.candidate.experiences, null, 2) }}\n\nFormations :\n{{ JSON.stringify($json.body.candidate.formations, null, 2) }}\n\nCompétences techniques : {{ $json.body.candidate.competences_techniques }}\nCompétences soft : {{ $json.body.candidate.competences_soft }}\nLangues : {{ $json.body.candidate.langues }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        300
      ],
      "id": "format-input",
      "name": "Formater Données"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis_prompt",
              "name": "analysis_prompt",
              "value": "=Tu es un expert RH spécialisé dans l'optimisation de CV pour des offres d'emploi spécifiques.\n\nTu vas analyser une offre d'emploi et un profil candidat, puis générer un **CV personnalisé optimisé** pour cette offre.\n\n## CV Personnalisé\n\nOptimise le CV du candidat pour l'offre :\n- Réorganise les expériences pour mettre en avant celles qui correspondent le mieux\n- Reformule le résumé professionnel pour coller à l'offre\n- Met en avant les compétences clés mentionnées dans l'offre\n- Adapte les descriptions d'expériences pour utiliser le vocabulaire de l'offre\n- Garde les données exactes du candidat (prenom, nom, email, téléphone, etc.)\n\n---\n\n{{ $json.offer_text }}\n\n---\n\n{{ $json.candidate_text }}\n\n---\n\nGénère le CV personnalisé de manière détaillée et professionnelle, en gardant toutes les informations de contact du candidat.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        300
      ],
      "id": "create-prompt",
      "name": "Créer Prompt CV"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.analysis_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        560,
        300
      ],
      "id": "analyze-match",
      "name": "Générer CV IA",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu vas recevoir un CV personnalisé optimisé pour une offre d'emploi.\n\nTa mission est de transformer ce contenu en **JSON STRICT**, exploitable par un workflow automatisé.\n\nRègles obligatoires :\n- Réponds UNIQUEMENT avec du JSON valide\n- Aucun texte explicatif avant ou après\n- Aucun Markdown (pas de ```json)\n- Aucun commentaire\n- Toutes les clés doivent être présentes\n\nStructure JSON attendue :\n\n{\n  \"personalizedCV\": {\n    \"prenom\": \"\",\n    \"nom\": \"\",\n    \"titre_poste\": \"\",\n    \"email\": \"\",\n    \"telephone\": \"\",\n    \"adresse\": \"\",\n    \"linkedin\": \"\",\n    \"resume\": \"\",\n    \"experiences\": [\n      {\n        \"poste\": \"\",\n        \"entreprise\": \"\",\n        \"localisation\": \"\",\n        \"date_debut\": \"\",\n        \"date_fin\": \"\",\n        \"description\": \"\"\n      }\n    ],\n    \"formations\": [\n      {\n        \"diplome\": \"\",\n        \"etablissement\": \"\",\n        \"localisation\": \"\",\n        \"date_fin\": \"\"\n      }\n    ],\n    \"competences_techniques\": \"\",\n    \"competences_soft\": \"\",\n    \"langues\": \"\"\n  }\n}\n\nVoici le contenu à transformer :\n\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        780,
        300
      ],
      "id": "convert-to-json",
      "name": "Convertir en JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed_result",
              "name": "parsed",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        300
      ],
      "id": "parse-json",
      "name": "Parser JSON"
    },
    {
      "parameters": {
        "jsCode": "const result = $json.parsed;\n\nlet offerData = {};\nlet candidateData = {};\n\ntry {\n  const webhookData = $('Webhook CV Personnalisé').first().json.body;\n  if (webhookData) {\n    offerData = webhookData.offer || {};\n    candidateData = webhookData.candidate || {};\n  }\n} catch (error) {\n  console.error('Erreur récupération données webhook:', error);\n}\n\nif (!result.personalizedCV) {\n  return [{\n    json: {\n      success: false,\n      error: 'Format de réponse invalide : CV personnalisé manquant',\n      received: result\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    personalizedCV: result.personalizedCV,\n    metadata: {\n      offer_title: offerData.title || 'Non spécifié',\n      candidate_name: `${candidateData.prenom || ''} ${candidateData.nom || ''}`.trim() || 'Non spécifié',\n      generated_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ],
      "id": "format-response",
      "name": "Formater Réponse Finale"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook CV Personnalisé": {
      "main": [
        [
          {
            "node": "Formater Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Données": {
      "main": [
        [
          {
            "node": "Créer Prompt CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Prompt CV": {
      "main": [
        [
          {
            "node": "Générer CV IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer CV IA": {
      "main": [
        [
          {
            "node": "Convertir en JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir en JSON": {
      "main": [
        [
          {
            "node": "Parser JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "main": [
        [
          {
            "node": "Formater Réponse Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "id": "matcher",
      "name": "Matcher d'Offres"
    }
  ]
}
