.Consultant/workflows/matcher-cv-ideal.json
{
  "name": "Matcher - CV Idéal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matcher-cv-ideal",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -100,
        300
      ],
      "id": "webhook-cv-ideal",
      "name": "Webhook CV Idéal",
      "webhookId": "matcher-cv-ideal-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "offer_text",
              "name": "offer_text",
              "value": "=**OFFRE D'EMPLOI**\n\nPoste : {{ $json.body.offer.title }}\nEntreprise : {{ $json.body.offer.company }}\nLocalisation : {{ $json.body.offer.location }}\nType de contrat : {{ $json.body.offer.contract_type }}\n{{ $json.body.offer.salary ? 'Salaire : ' + $json.body.offer.salary : '' }}\n\nDescription complète :\n{{ $json.body.offer.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        300
      ],
      "id": "format-input",
      "name": "Formater Données"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis_prompt",
              "name": "analysis_prompt",
              "value": "=Tu es un expert RH spécialisé dans l'analyse d'offres d'emploi.\n\nTu vas analyser une offre d'emploi et créer un **CV idéal** décrivant le profil parfait recherché par l'employeur.\n\n## CV Idéal\n\nCrée un CV fictif du candidat parfait pour ce poste :\n- Titre de poste correspondant exactement à l'offre\n- Résumé professionnel décrivant le profil idéal\n- Expériences types attendues (liste d'expériences professionnelles cohérentes)\n- Formations recommandées (diplômes et certifications attendus)\n- Compétences requises et souhaitées (techniques et soft skills)\n- Langues nécessaires\n\nUtilise des données réalistes et professionnelles.\n\n---\n\n{{ $json.offer_text }}\n\n---\n\nGénère le CV idéal de manière détaillée et professionnelle.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        300
      ],
      "id": "create-prompt",
      "name": "Créer Prompt CV Idéal"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.analysis_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        560,
        300
      ],
      "id": "analyze-match",
      "name": "Générer CV Idéal IA",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu vas recevoir un CV idéal décrivant le profil parfait pour une offre d'emploi.\n\nTa mission est de transformer ce contenu en **JSON STRICT**, exploitable par un workflow automatisé.\n\nRègles obligatoires :\n- Réponds UNIQUEMENT avec du JSON valide\n- Aucun texte explicatif avant ou après\n- Aucun Markdown (pas de ```json)\n- Aucun commentaire\n\nStructure JSON attendue :\n\n{\n  \"idealCV\": {\n    \"prenom\": \"Profil\",\n    \"nom\": \"Idéal\",\n    \"titre_poste\": \"\",\n    \"email\": \"\",\n    \"telephone\": \"\",\n    \"adresse\": \"\",\n    \"linkedin\": \"\",\n    \"resume\": \"\",\n    \"experiences\": [\n      {\n        \"poste\": \"\",\n        \"entreprise\": \"Type d'entreprise recherché\",\n        \"localisation\": \"\",\n        \"date_debut\": \"\",\n        \"date_fin\": \"\",\n        \"description\": \"\"\n      }\n    ],\n    \"formations\": [\n      {\n        \"diplome\": \"\",\n        \"etablissement\": \"Type d'établissement\",\n        \"localisation\": \"\",\n        \"date_fin\": \"\"\n      }\n    ],\n    \"competences_techniques\": \"\",\n    \"competences_soft\": \"\",\n    \"langues\": \"\"\n  }\n}\n\nVoici le contenu à transformer :\n\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        780,
        300
      ],
      "id": "convert-to-json",
      "name": "Convertir en JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed_result",
              "name": "parsed",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        300
      ],
      "id": "parse-json",
      "name": "Parser JSON"
    },
    {
      "parameters": {
        "jsCode": "const result = $json.parsed;\n\nlet offerData = {};\n\ntry {\n  const webhookData = $('Webhook CV Idéal').first().json.body;\n  if (webhookData) {\n    offerData = webhookData.offer || {};\n  }\n} catch (error) {\n  console.error('Erreur récupération données webhook:', error);\n}\n\nif (!result.idealCV) {\n  return [{\n    json: {\n      success: false,\n      error: 'Format de réponse invalide : CV idéal manquant',\n      received: result\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    idealCV: result.idealCV,\n    metadata: {\n      offer_title: offerData.title || 'Non spécifié',\n      generated_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ],
      "id": "format-response",
      "name": "Formater Réponse Finale"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook CV Idéal": {
      "main": [
        [
          {
            "node": "Formater Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Données": {
      "main": [
        [
          {
            "node": "Créer Prompt CV Idéal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Prompt CV Idéal": {
      "main": [
        [
          {
            "node": "Générer CV Idéal IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer CV Idéal IA": {
      "main": [
        [
          {
            "node": "Convertir en JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir en JSON": {
      "main": [
        [
          {
            "node": "Parser JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "main": [
        [
          {
            "node": "Formater Réponse Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "id": "matcher",
      "name": "Matcher d'Offres"
    }
  ]
}
