.Consultant/workflows/matcher-lettre-motivation.json
{
  "name": "Matcher - Lettre de Motivation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matcher-lettre-motivation",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -100,
        300
      ],
      "id": "webhook-lettre",
      "name": "Webhook Lettre Motivation",
      "webhookId": "matcher-lettre-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "offer_text",
              "name": "offer_text",
              "value": "=**OFFRE D'EMPLOI**\n\nPoste : {{ $json.body.offer.title }}\nEntreprise : {{ $json.body.offer.company }}\nLocalisation : {{ $json.body.offer.location }}\nType de contrat : {{ $json.body.offer.contract_type }}\n{{ $json.body.offer.salary ? 'Salaire : ' + $json.body.offer.salary : '' }}\n\nDescription complète :\n{{ $json.body.offer.description }}",
              "type": "string"
            },
            {
              "id": "candidate_text",
              "name": "candidate_text",
              "value": "=**PROFIL CANDIDAT**\n\nIdentité :\nPrénom : {{ $json.body.candidate.prenom }}\nNom : {{ $json.body.candidate.nom }}\nTitre de poste : {{ $json.body.candidate.titre_poste }}\n\nExpériences professionnelles :\n{{ JSON.stringify($json.body.candidate.experiences, null, 2) }}\n\nFormations :\n{{ JSON.stringify($json.body.candidate.formations, null, 2) }}\n\nCompétences techniques : {{ $json.body.candidate.competences_techniques }}\nCompétences soft : {{ $json.body.candidate.competences_soft }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        300
      ],
      "id": "format-input",
      "name": "Formater Données"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis_prompt",
              "name": "analysis_prompt",
              "value": "=Tu es un expert RH spécialisé dans la rédaction de lettres de motivation percutantes.\n\nTu vas analyser une offre d'emploi et un profil candidat, puis rédiger une **lettre de motivation personnalisée**.\n\n## Lettre de Motivation\n\nRédige une lettre professionnelle et engageante :\n- **Introduction** : Capte l'attention, mentionne le poste et l'entreprise\n- **Corps** : Fait le lien entre le profil du candidat et les besoins de l'entreprise (2-3 paragraphes)\n  - Mise en avant des expériences pertinentes\n  - Démonstration de la compréhension du poste\n  - Valeur ajoutée du candidat\n- **Conclusion** : Montre l'enthousiasme, appel à l'action\n- **Ton** : Professionnel mais authentique, adapté au secteur\n\nStructure la lettre en sections distinctes (greeting, introduction, body, conclusion, closing).\n\n---\n\n{{ $json.offer_text }}\n\n---\n\n{{ $json.candidate_text }}\n\n---\n\nRédige la lettre de motivation de manière détaillée et professionnelle.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        300
      ],
      "id": "create-prompt",
      "name": "Créer Prompt Lettre"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.analysis_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        560,
        300
      ],
      "id": "analyze-match",
      "name": "Générer Lettre IA",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu vas recevoir une lettre de motivation complète.\n\nTa mission est de transformer ce contenu en **JSON STRICT**, exploitable par un workflow automatisé.\n\nRègles obligatoires :\n- Réponds UNIQUEMENT avec du JSON valide\n- Aucun texte explicatif avant ou après\n- Aucun Markdown (pas de ```json)\n- Aucun commentaire\n\nStructure JSON attendue :\n\n{\n  \"coverLetter\": {\n    \"greeting\": \"Madame, Monsieur,\",\n    \"introduction\": \"\",\n    \"body\": \"\",\n    \"conclusion\": \"\",\n    \"closing\": \"Je vous prie d'agréer, Madame, Monsieur, l'expression de mes salutations distinguées.\"\n  }\n}\n\nExtrais la lettre en séparant intro, corps (tout le milieu en un seul paragraphe), conclusion.\n\nVoici le contenu à transformer :\n\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        780,
        300
      ],
      "id": "convert-to-json",
      "name": "Convertir en JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed_result",
              "name": "parsed",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        300
      ],
      "id": "parse-json",
      "name": "Parser JSON"
    },
    {
      "parameters": {
        "jsCode": "const result = $json.parsed;\n\nlet offerData = {};\nlet candidateData = {};\n\ntry {\n  const webhookData = $('Webhook Lettre Motivation').first().json.body;\n  if (webhookData) {\n    offerData = webhookData.offer || {};\n    candidateData = webhookData.candidate || {};\n  }\n} catch (error) {\n  console.error('Erreur récupération données webhook:', error);\n}\n\nif (!result.coverLetter) {\n  return [{\n    json: {\n      success: false,\n      error: 'Format de réponse invalide : lettre manquante',\n      received: result\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    coverLetter: result.coverLetter,\n    metadata: {\n      offer_title: offerData.title || 'Non spécifié',\n      candidate_name: `${candidateData.prenom || ''} ${candidateData.nom || ''}`.trim() || 'Non spécifié',\n      generated_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ],
      "id": "format-response",
      "name": "Formater Réponse Finale"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Lettre Motivation": {
      "main": [
        [
          {
            "node": "Formater Données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Données": {
      "main": [
        [
          {
            "node": "Créer Prompt Lettre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Prompt Lettre": {
      "main": [
        [
          {
            "node": "Générer Lettre IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer Lettre IA": {
      "main": [
        [
          {
            "node": "Convertir en JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir en JSON": {
      "main": [
        [
          {
            "node": "Parser JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser JSON": {
      "main": [
        [
          {
            "node": "Formater Réponse Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "id": "matcher",
      "name": "Matcher d'Offres"
    }
  ]
}
