.Consultant/workflows/Optimiseur CV - Formulaire (1).json
{
  "name": "Optimiseur CV - Formulaire",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimiser-cv-formulaire",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -16
      ],
      "id": "91e23699-bc5f-4336-987e-8a91e04fe3a2",
      "name": "Webhook",
      "webhookId": "optimiseur-cv-form-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cv-data-input",
              "name": "cv_input",
              "value": "=== CV À OPTIMISER (FORMULAIRE) ===\n\nIDENTITÉ:\nPrénom: {{ $json.body.cvData.prenom }}\nNom: {{ $json.body.cvData.nom }}\nTitre: {{ $json.body.cvData.titre_poste }}\nEmail: {{ $json.body.cvData.email }}\nTéléphone: {{ $json.body.cvData.telephone }}\n\nRÉSUMÉ:\n{{ $json.body.cvData.resume }}\n\nEXPÉRIENCES:\n{{ JSON.stringify($json.body.cvData.experiences) }}\n\nFORMATIONS:\n{{ JSON.stringify($json.body.cvData.formations) }}\n\nCOMPÉTENCES:\nTechniques: {{ $json.body.cvData.competences_techniques }}\nSoft Skills: {{ $json.body.cvData.competences_soft }}\nLangues: {{ $json.body.cvData.langues }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -16
      ],
      "id": "dcf31274-4cb6-4e31-8bcd-2ccec3cea8d8",
      "name": "Préparer CV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-optimisation",
              "name": "prompt",
              "value": "=Tu es un expert en rédaction de CV et optimisation ATS (Applicant Tracking Systems).\n\n=== CV À OPTIMISER ===\n{{ $json.cv_input }}\n\n=== MISSION ===\nOptimiser ce CV pour MAXIMISER les chances de passer les ATS et attirer l'attention des recruteurs.\n\n=== RÈGLES ATS CRITIQUES (À RESPECTER ABSOLUMENT) ===\n\n1. MOTS-CLÉS ATS\n   - Intégrer les mots-clés techniques du secteur\n   - Répéter les compétences clés 2-3 fois (titre, résumé, expériences)\n   - Utiliser les termes exacts de l'industrie (pas de synonymes créatifs)\n\n2. FORMAT SIMPLE ET LISIBLE PAR LES ROBOTS\n   - Pas de tableaux, pas de colonnes complexes\n   - Sections avec titres standards : Résumé, Expérience, Formation, Compétences\n   - Chronologie inversée (le plus récent en premier)\n\n3. VERBES D'ACTION PUISSANTS\n   Chaque point d'expérience doit commencer par un verbe fort :\n   - Développé, Conçu, Piloté, Optimisé, Géré, Augmenté\n   - Créé, Implémenté, Dirigé, Coordonné, Amélioré, Réduit\n\n4. QUANTIFICATION SYSTÉMATIQUE\n   TOUJOURS ajouter des chiffres/résultats mesurables :\n   - Pourcentages (↑ 40%, ↓ 25%)\n   - Montants (500K€, 1M€)\n   - Nombres (10 personnes, 50 clients, 15 projets)\n   - Durée (en 6 mois, sur 2 ans)\n\n5. RÉSUMÉ PROFESSIONNEL (3-4 PHRASES MAX)\n   - Titre du poste + années d'expérience\n   - 2-3 compétences clés avec mots-clés ATS\n   - 1 réalisation majeure chiffrée\n   - Objectif professionnel aligné sur le poste\n\n6. EXPÉRIENCES PROFESSIONNELLES\n   - Titre du poste en gras\n   - 3-5 bullets par expérience\n   - Structure : Verbe d'action + Tâche + Résultat chiffré\n   - Exemple : \"Développé une API REST servant 100K+ requêtes/jour, réduisant le temps de réponse de 60%\"\n\n7. COMPÉTENCES TECHNIQUES\n   - Liste claire et scannée par les ATS\n   - Regrouper par catégories si possible\n   - Inclure niveau d'expertise si pertinent\n\n8. CONTRAINTE ABSOLUE : 1 PAGE MAXIMUM\n   - Prioriser les 5 dernières années d'expérience\n   - Condenser sans perdre l'impact\n   - Supprimer les détails anciens ou peu pertinents\n   - Résumé : 3-4 phrases max\n   - Expériences : 3-5 bullets max par poste\n   - Formation : diplôme + établissement + année (pas de description)\n\n=== RÈGLES STRICTES ===\n- NE JAMAIS inventer d'informations\n- NE PAS modifier les noms d'entreprises, dates, diplômes\n- Rester factuel et vérifiable\n- Si une information est vide, la laisser vide\n- TOUT DOIT TENIR SUR 1 PAGE au format A4\n\n=== FORMAT DE RÉPONSE ===\nRéponds de manière concise et directe, en te concentrant sur l'optimisation pour les ATS et la contrainte 1 page.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -16
      ],
      "id": "504e1872-8f68-4fad-921d-ef695e0736a6",
      "name": "Prompt Optimisation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        -16
      ],
      "id": "58273c64-f251-465f-bcba-4a25d683cffe",
      "name": "OpenAI Optimisation",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu vas recevoir un CV optimisé. Transforme-le en JSON STRICT.\n\nRÈGLES :\n- JSON valide uniquement\n- Aucun texte avant/après\n- Pas de ```json\n- Structure EXACTE :\n\n{\n  \"prenom\": \"\",\n  \"nom\": \"\",\n  \"titre_poste\": \"\",\n  \"email\": \"\",\n  \"telephone\": \"\",\n  \"adresse\": \"\",\n  \"linkedin\": \"\",\n  \"resume\": \"\",\n  \"experiences\": [\n    {\n      \"poste\": \"\",\n      \"entreprise\": \"\",\n      \"periode\": \"\",\n      \"description\": \"\"\n    }\n  ],\n  \"formations\": [\n    {\n      \"diplome\": \"\",\n      \"etablissement\": \"\",\n      \"annee\": \"\",\n      \"description\": \"\"\n    }\n  ],\n  \"competences_techniques\": \"\",\n  \"competences_soft\": \"\",\n  \"langues\": \"\",\n  \"interets\": \"\"\n}\n\nCV optimisé :\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        -16
      ],
      "id": "a0be74ac-ced9-4284-ae0b-c544075bb012",
      "name": "Conversion JSON",
      "credentials": {
        "openAiApi": {
          "id": "uzDkI6AxJT2u2V9b",
          "name": "Grogodumiot@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-result",
              "name": "cvData_optimise",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        288
      ],
      "id": "879cfe14-93da-468d-9b9a-ee6cd4ee664e",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "const cvOptimise = $('Parse JSON').first().json.cvData_optimise;\n\nreturn [{\n  json: {\n    success: true,\n    cvData_optimise: cvOptimise,\n    message: \"CV optimisé avec succès (formulaire)\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -16
      ],
      "id": "f46f7362-3ef8-4e6f-a3f5-b207919b2ebc",
      "name": "Réponse Finale"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Préparer CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer CV": {
      "main": [
        [
          {
            "node": "Prompt Optimisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Optimisation": {
      "main": [
        [
          {
            "node": "OpenAI Optimisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Optimisation": {
      "main": [
        [
          {
            "node": "Conversion JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion JSON": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Réponse Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "50939147-5a94-435d-9b6d-7f4cbefa4cb1",
  "meta": {
    "instanceId": "7794a76bcadfa6f11a81492e0a47661ae47dfbbac1b071f082948258ee8e9f6c"
  },
  "id": "36xEER4DpS8Jdu8u",
  "tags": []
}